body,
html {
  height: 100%;
}

.layout {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "aside header"
    "main main";
}

@screen md {
  .layout {
    grid-template-columns: 20rem minmax(1px, 1fr);
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
      "aside header"
      "aside main";
  }
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}

/**
* Resets
*/

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 999999px;
}
